include LICENSE
include VERSION
recursive-include lib *
recursive-include tools *.py
recursive-include scripts *.sh
recursive-include scripts/tests *
recursive-include guicreator *
exclude guicreator/README.md
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *musashi*
prune tools/musashi_runner
prune examples
prune tests
prune guicreator/examples
prune high_amiga_assembler.egg-info